@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


:root {
    --bg-color: #1f2020;
    --bg-color2: #0c0d0d;
    --panel-bg-color: rgba(255, 255, 255, 0.05);
    --text-color: #f5f5f5;
    --button-text-color: #9f9f9f;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    background: radial-gradient(circle at center, var(--bg-color) 0%, var(--bg-color2) 200%);
    color: var(--text-color);
}

button {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
    color: var(--button-text-color);
    padding: 0.2rem 0.4rem;
    border-radius: 0.25rem;
    font-size: .9rem;
}