@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';


:root {
    --bg-color: #1f2020;
    --bg-color2: #0c0d0d;
    --panel-bg-color: rgba(255, 255, 255, 0.05);
    --text-color: #f1f5f9;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    background: radial-gradient(circle at center, var(--bg-color) 0%, var(--bg-color2) 200%);
    color: var(--text-color);
}



.panel {
    background-color: var(--panel-bg-color);
    height: 100%;
    border-radius: .5rem;
    border: solid 1px rgba(78, 78, 78, 0.2);
    color: var(--text-color);
    padding: .5rem;
}