/* CSS */

@import 'tailwindcss';

:root {
    --bg-color: #1f2020;
    --bg-color2: #0c0d0d;
    --panel-bg-color: rgba(255, 255, 255, 0.05);
    --text-color: #f5f5f5;
    --warning-color: #d7491d;
    --accent-color: #3a86ff;
    --button-text-color: #9f9f9f;
    --border-color: rgba(255, 255, 255, 0.12);

    --border-radius-large: 0.5rem;
    --border-radius-medium: 0.25rem;

    --button-bg-color: #343434;

    --widget-color: #d08413;
    --server-color: #54ab19;
    --board-color: #0a7a99;
    --globalsettings-color: #9e1687;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    box-sizing: border-box;
    overflow: hidden;
    background: radial-gradient(circle at center, var(--bg-color) 0%, var(--bg-color2) 200%);
    color: var(--text-color);
    user-select: none;
}

/* UI */

button,
.button {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
    color: var(--button-text-color);
    padding: 0.2rem 0.4rem;
    border-radius: var(--border-radius-medium);
    font-size: .9rem;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: rgba(255, 255, 255, 0.10);
    border-color: rgba(255, 255, 255, 0.10);
    color: var(--text-color);
}

button.icon-button {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
    color: var(--button-text-color);
}

input {
    background-color: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
    color: var(--text-color);
    padding: 0.1rem 0.4rem;
    border-radius: var(--border-radius-medium);
    font-size: .8rem;
}

/* Custom dark mode, rounded scrollbar */
::-webkit-scrollbar {
    width: .3rem;
    background: var(--bg-color);
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.10);
    border-radius: 8px;
    transition: background-color 1s ease;
}

::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.15);
}

/* ::-webkit-scrollbar-corner {
    background: var(--bg-color2);
    border-radius: 8px;
} */

/* Firefox */
/* * {
    scrollbar-width: thin;
    scrollbar-color: rgba(255,255,255,0.12) var(--bg-color);
} */

/* ICONS */

.connected-icon {
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    background: url('/icons/connected.svg') no-repeat center center / contain;
    vertical-align: middle;
}

.disconnected-icon {
    width: 1.2em;
    height: 1.2em;
    display: inline-block;
    background: url('/icons/disconnected.svg') no-repeat center center / contain;
    vertical-align: middle;
}

.arrow {
    border: solid var(--text-color);
    border-width: 0 .15rem .15rem 0;
    width: 0.4rem;
    height: 0.4rem;
    margin: 0 .1rem 0 0;
    display: inline-block;
    transform: rotate(-45deg) translateY(-.1rem);
    -webkit-transform: rotate(-45deg) translateY(-.1rem);
    transition: transform 0.2s ease, -webkit-transform 0.2s ease;
}

.arrow.expanded {
    transform: rotate(45deg) translateX(-.1rem) translateY(-.1rem);
    -webkit-transform: rotate(45deg) translateX(-.1rem) translateY(-.1rem);
}

.arrow.up {
    transform: rotate(-135deg) translateX(.1rem);
    -webkit-transform: rotate(-135deg) translateX(.1rem);
}